{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<p class='text-align-center lead'>You have successfully logged out.</p>
<p class='text-align-center lead'><a href="{% url 'auth_login' %}">Se connecter</a></p></p>
{% endblock %}