{% extends "base.html" %}
{% load staticfiles %}


{%  block content %}
<div class="row">
	<div class='col-sm-6 col-sm-offset-3'>
		<h1>OUPS </h1>
		<p>Une erreur s'est produite quelque part !</p>
		
		<p></p>
		<i class="fa fa-copyright" aria-hidden="true" > Copyright Lycée Victor Hugo 2018 </i>
	</div>
</div>

{% endblock %}
