{% extends "base.html" %}
{% load version %}

{%  block content %}
<div class="row">
	<div class='col-sm-6 col-sm-offset-3'>
		<h1>A propos de nous </h1>
		<p>Lycée Victor Hugo </p>
		<p>version 0.01 </p>
			<span class='version'>Dernière mise à jour: {% version_date %}</span>
		<hr />
		<p></p>
		<p> <i class="fa fa-copyright" aria-hidden="true"></i> Copyright Lycée Victor Hugo 2019 </p>
	</div>
</div>

{% endblock %}
