{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} Eleves | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>


{% if request.user.is_authenticated %}
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            <h2> Inscription ou modification d'un élève</h2><hr /><br />
				
			<form method="post" novalidate> 
				{% csrf_token %}	
		   	    

                <div class="row">
                 <div class="col-4">
                    {{ form.nom|as_crispy_field }}
                          </div>
                <div class="col-4">
                    {{ form.prenom|as_crispy_field }}
                </div>
                </div>
                <div class="row">
                 <div class="col-4">
                    {{ form.date_naissance|as_crispy_field }}
                </div>
                <div class="col-4">
                </div>
                </div>

                 <div class="row">
                 <div class="col-4">
                    {{ form.sexe|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.classe|as_crispy_field }}
                </div>
                </div>
                 <br />
                <br />
                <div class="row">
                    <div class="col-2">
                    </div>
                 <div class="col-2">
                <button type="cancel" class="btn btn-danger">Annuler</button>
                </div>
                <div class="col-2">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                </div>
               
                 <br />
                <br />

            </form>
                </div>
		   </div>
		</div> 

        {% endblock %}
{% else %}

 {% block content_notallowed %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            <h2> Accès interdite </h2>
                </div>
           </div> <!-- row -->
        </div> <!-- container -->
        {% endblock %}

{% endif %}