{% extends "base.html" %}

{% load static %}
{% block head_title %} ELEVES | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>

        {% block content %}
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-12">
                                   
                    <h2>Fiche enseignant</h2>
                </div>
            </div>
            
                {% for enseignant in data %}
                {{enseignant}}
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Nom</label>
                        <div class="col-6 col-md-4">{{ enseignant.nom }}</div>
                    </div>
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Prénom</label>
                        <div class="col-6 col-md-4">{{ enseignant.prenom }}</div>
                    </div>
                    
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Sexe</label>
                        <div class="col-6 col-md-4">{{ enseignant.sexe}}</div> 
                    </div>
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Téléphone</label>
                        <div class="col-6 col-md-4">{{ enseignant.telephone }}</div>
                    </div>

                     
<br />
<br />
    
        <div class="row">
                <div class='col-sm-2'>
                    <p><a class="btn btn-md btn-primary" href="{% url 'cours:enseignant_update' enseignant.id %}" role="button">Modifier</a></td>
                </div>
                <div class='col-sm-2'>
                    <p><a class="btn btn-md btn-primary" href="/cours/enseignant_add" role="button">Nouvel Enseignant</a></p> 
                </div>
                <div class='col-sm-2'>   
                    <p><a class="btn btn-md btn-primary" href="{% url 'cours:enseignants_list' %}" role="button">Retour enseignants</a></p>
                </div>
                <div class='col-sm-2'>   
                    <p><a class="btn btn-md btn-primary" href="{% url 'home' %}" role="button">Retour Menu</a></p>
                </div>
                <div class='col-sm-2'>
                </div>
                <div class='col-sm-2'>
                </div>
        </div> <!-- end row -->
        <!-- </div> -->

 {% endfor %}

        {% else %}
    <h1>Need to log in </h1>
    {% endif %}
        {% endblock %}
