{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} Eleves | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>


{% if request.user.is_authenticated %}
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            <h2> Inscription ou modification d'un enseignant</h2><hr /><br />
				
			<form method="post" class="uniForm"> 
				{% csrf_token %}	
		   	    {% crispy form %}
                 <br />
        <br />
            </form>
                </div>
		   </div> <!-- row -->
		</div> <!-- container -->

        {% endblock %}
{% else %}

 {% block content_notallowed %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            <h2> Accès interdite </h2>
                </div>
           </div> <!-- row -->
        </div> <!-- container -->
        {% endblock %}

{% endif %}